<a href="https://colab.research.google.com/github/Trish-01/cloning-practice/blob/main/%20Trish_Lab_1_Strings_and_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Question 1**

In [1]:
text = "The quick brown fox jumps over the lazy dog"

- I have created a variable called ***text***. Run the cell above to store the data in memory.
- Run the cell below to check the data type of the data referenced by the variable ***text***

In [ ]:
type(text)

str

a) Chek if the text is in lower case. If not convert it.

b) Check if the text is in upper case. If not convert it.

c) Check if the text is in sentence case. If not convert it.

d) Check if the text is in title case. If not convert it.

e) Find the number of characters in the variable called ***text***

f) Find the index position of the word fox

g) Replace the word fox with lion

h) Split the sentence into a list of words i.e splitting by the space

# **Question 2**

a) Create a list which contains the first the following names of people (I have chosen the names at random):

Peter, John, Marry, Thomas, Tatenda

b) Find the number of elements in the list

c) Add another person called John

d) Add the following people in the list:

Mary, John, Tino,Mary

e) How many Mary's, John's and Thomas's do we have in the list?

f) Insert Tom on index position 3

g) Find the index position of the first occurence of Mary

h) Remove Tino from the list